@model myfirstproject.Models.siniflar.Faturalar

@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2 style=" font-size:25px ">Yeni Fatura Sayfası </h2>
<br />

<form class="form-group" method="post">

    <div>

        @Html.Label("Fatura Seri No")
        @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })

        @Html.Label("Fatura Sıra No")
        @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })

        @Html.LabelFor(x => x.Tarih)
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })

        @Html.LabelFor(x => x.Saat)
        @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })

        @Html.Label("Vergi Dairesi")
        @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })

        @Html.Label("Tesllim Eden")
        @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })

        @Html.Label("Teslim Alan")
        @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })

        <br />
        <button class="btn btn-info"> Kaydet </button>

    </div>
</form>
