@using myfirstproject.Models.siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<Cariler>
@{
    ViewBag.Title = "Index";
    //Layout = null;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Cari", FormMethod.Get))
{
    <p>
        Cari Adı: @Html.TextBox("p")  @*bir parametre gönderiyo p adında*@
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-striped" style="margin-top:20px;">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CariId</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.CariId" class="btn btn-danger"> Sil  </a></td>
            <td><a href="/Cari/CariGetir/@x.CariId" class="btn btn-success"> Güncelle  </a></td>
            <td><a href="/Cari/CariSatis/@x.CariId" class="btn btn-default" style="background-color: lightseagreen; color:white "> Satın Alma Geçmişi </a></td>

        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa })
   , new PagedListRenderOptions
   {
       LiElementClasses = new List<string>
       { "page-link"}
   }))
<a href="/Cari/CariEkle/" class="btn btn-info"> Yeni Müşteri </a>



