@using myfirstproject.Models.siniflar
@model  List<myfirstproject.Models.siniflar.SatisHareket>
@{
    ViewBag.Title = "DptPersonelSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Personel Satışı</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> Personel Adı: @ViewBag.PersonelAd  </li>
</ol>

<table class="table table-condensed">
    <tr>
        @*Tablo Başlıkları*@
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.Urun.UrunAd</td>
        <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
        <td>@x.Fiyat ₺</td>
        <td>@x.Adet</td>
        <td>@x.ToplamTutar ₺</td>
        <td>@x.Tarih</td>
        <td> <a href="#" class="btn btn-default" style="background-color:darkolivegreen"> Yazdır </a></td>
    </tr>
    }
</table>
