@model myfirstproject.Models.siniflar.Urun
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style=" font-size:25px ">Yeni Ürün Sayfası </h2>
<br />

<form class="form-group" method="post">

    <div>
        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })

        @Html.LabelFor(x => x.Marka)
        @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })

        @Html.LabelFor(x => x.Stok)
        @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })

        @Html.Label("Alış Fiyat")
        @Html.TextBoxFor(x => x.AlisFiyat, new { @class = "form-control" })

        @Html.Label("Satış Fiyat")
        @Html.TextBoxFor(x => x.SatisFiyat, new { @class = "form-control" })

        @Html.LabelFor(x => x.Durum)
        @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })

        @Html.Label("Görsel")
        @Html.TextBoxFor(x => x.UrunGorsel, new { @class = "form-control" })

        @Html.LabelFor(x => x.Kategori)
        @Html.DropDownListFor(x => x.KategoriId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" }) @*controller urunekleden dgr1 degeri geliyor.*@
        @*Html.TextBoxFor(x => x.KategoriId, new { @class = "form-control" })*@

        <br />
        <button class="btn btn-info"> Kaydet </button>

    </div>
</form>

